@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
}
#header {
    height: 5em;
}
#map {
    height:calc(100% - 25em);
    width: 100%;
}
#badgeBarHeader {
    box-shadow: 0px 5px 5px #888888;
    margin: 0;
    padding:0;
}
#badgeBarBody {
    position: relative;
    top: -1em;
    height: 10em;
    background-color: #cccccc;
    margin: 0px;
    overflow: hidden;
    padding:0;
}
.popupImg {
    width: 200px;
    height: auto;
}

.popupHeader{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 15em);
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    z-index:1002;
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:80%;
}


#modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalClose:hover,
#modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#gnomeImage {
    float:left;
    height:20em;
}
#puzzleDiv {
    align-content: left;
    text-align: left;
    vertical-align: top;
}
#nonBadgeDiv {
    display: block;
}
#badgeDiv {
    position: relative;
    top: 7em;
    left: -5em;
    display: none;
}
#optionDiv {
    align-content: left;
    text-align: left;
}
.badgeImage {
    height: 8em;
}