@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Slab');
body {
    background-color: #db3d2d;
    max-width:100%;
}
 input[type=radio] {
    width: 25px;
    height: 25px;
 }
 .radioDiv {
     font-size: 20px;
 }

#header {
    height: 5em;
    background-color: #db3d2d;
    font-family: 'Port Lligat Slab', serif;
    color:white;
    padding:0;
}

#map {
    height:calc(100% - 25em);
    width:calc(100% -4em);
}
#badgeBarHeader {
    box-shadow: 0px 5px 5px #888888;
    margin: 0;
    padding:0;
}
#badgeBarBody {
    display: block;
    position: relative;
    top: -1em;
    height: 10em;
    background-color: #cccccc;
    margin: 0px;
    overflow: hidden;
    padding:0;
    clear: both;
}
.popupImg {
    width: 200px;
    height: auto;
}

.popupHeader{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 15em);
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    z-index:1002;
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    height:80%;
}


#modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalClose:hover,
#modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#gnomeImage {
    float:left;
    height:20em;
}
#puzzleDiv {
    align-content: left;
    text-align: left;
    vertical-align: top;
}
#nonBadgeDiv {
    display: block;
}
#badgeDiv {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#optionDiv {
    align-content: left;
    text-align: left;
}
.badgeImage {
    height: 8em;
}

#badgeBarHeaderTitle {
    float: left;
}

#clearButtonDiv {
    float: right;
}
#clearButton{
    margin-top: .5em;
}